form {   
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a1 {
    color: #e7bb98; /* Cambia el color del texto a rojo (#FF0000) */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    font-weight: bold; /* Puede añadir negrita */
    cursor: pointer;
    background-color: #b66617;
  }
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(74, 70, 70);
}

select,
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #4f4949;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #b66617;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #81989e;
}
.container {
    margin-top: 50px; /* Espacio entre el menú y la tabla */
}

/* Estilos para la tabla */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    border: 30px solid #ffffff00; /* Agrega un borde al contenedor */
    border-radius: 10px; /* Opcional: agrega esquinas redondeadas */
    padding: 10px; /* Opcional: añade un espacio interno */
}


#TablaCV {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-bottom: 20px !important;
    /* Agrega !important a las propiedades que quieras priorizar */
}

#TablaCV th,
#TablaCV td {
    padding: 10px ;
    text-align: inherit ;
    border-bottom: 1px solid #000000 ;
} 


/* Estilos para el encabezado */
#TablaCV thead th {
    background-color: #ed8529;
    color: #ffffff;
    padding: 8px 27px !important; /* Ajusta el padding para las celdas de encabezado */
    position: relative; /* Habilita la posición relativa para las flechas */
}

/* Estilos para las flechas de ordenamiento */
#TablaCV thead th::after {
    content: ""; /* Agrega un elemento después del texto */
    display: inline-block; /* Convierte el contenido en un bloque */
    width: 0;
    height: 0;
    border-left: 4px solid transparent; /* Establece la apariencia de la flecha */
    border-right: 4px solid transparent; /* Establece la apariencia de la flecha */
    border-top: 4px solid #fff; /* Establece la apariencia de la flecha */
    position: absolute; /* Habilita la posición absoluta para las flechas */
    top: 50%; /* Ajusta la posición vertical */
    right: 8px; /* Ajusta la separación de las flechas del texto */
    transform: translateY(-50%); /* Centra verticalmente las flechas */
}

/* Estilos para las filas impares */
#TablaCV tbody tr:nth-child(odd) {
    background-color: rgba(224, 223, 223, 0.914);
    color: #000000;
}

/* Estilos para las filas impares */
#TablaCV tbody tr:nth-child(even) {
    background-color: rgba(253, 253, 253, 0.914); /* Cambia el color de fondo */
    color: #000000;
}

/* Estilos para el encabezado */
#TablaCV thead {
    background-color: #000209;
    color: #ffffff;
}

/* Estilos para el hover */
#TablaCV tbody tr:hover {
    background-color: #e9ecef;
}

@media (max-width: 767.98px) {
    
}




