.container {
  float: left;
  padding: 10px;
  height: 100vh;
  width: 30vh;
}

.container div {
  height: 100%;
  width: 100%;
}

.container-a {
  background-color: #fa7d7d; /* Azul */
}

.container-b {
  background-color: #43ffd9; /* Verde */
  float: right;
}
