h1 {
  text-align: center;
}
  .container div {
    flex-grow: 1;
}
  
  .container-a {
    background-color: #e80f0f00;
    float: left;
    width: 35vh;
  }
  
.container-b {
  background-color: #0e635200;
  float: right;
  width: 30vh;
}
.container-c {
  margin: 0 auto; /* Esto centrará horizontalmente el bloque */
  max-width: 1200px; /* Puedes ajustar esto según tus necesidades */
  background-color: #056a2300; 
}
.container-c1{
  text-align: center;
    flex-grow: 10; /* Distribuye el espacio disponible entre .container-c1 y .container-c2 */
    margin: 0px;
}
.container-c2 {
    flex-grow: 10; /* Distribuye el espacio disponible entre .container-c1 y .container-c2 */
    margin: 0px; /* Espaciado entre .container-c1 y .container-c2 */
}

.container-c1 {
    width: 900px;
    height: 25px;  
    background-color: #18738700; 
}

.container-c2 {
    height: 60px;  
    width: 900px;
    background-color: #9bdceb00; 
}