/* Estilos para los contenedores de los formularios */
.guardar_archivo {
    display: flex; /* Utiliza Flexbox */
    justify-content: left; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea en la parte superior */
    margin-top: 10px; /* Agrega un margen superior */
}

/* Ajustes para el formulario dentro del contenedor */
.guardar_archivo .formulario {
    
    width: 500px; /* Ancho fijo */
    margin: 0 10px; /* Márgenes a los lados */
    text-align: left; /* Centra el texto */
}

/* Estilos para el botón de enviar */
.guardar_archivo .submit-button {
    display: block; /* Se muestra como bloque */
    margin: 10px auto; /* Margen arriba/abajo, centrado horizontalmente */
    width: 80%; /* Ancho del 80% del contenedor */
    background-color: #ed8529; /* Color de fondo */
    color: rgb(240, 234, 234); /* Color del texto */
    padding: 0.5em 1em; /* Espaciado interior */
    border-radius: 0.4em; /* Borde redondeado */
    cursor: pointer; /* Cursor de ratón */
    font-size: 1em; /* Tamaño de fuente */
}

/* Estilos específicos para el input de tipo file */
.guardar_archivo .input-file {
    display: block; /* Se muestra como bloque */
    margin: 10px auto; /* Margen arriba/abajo, centrado horizontalmente */
    width: 150%; /* Ancho del 80% del contenedor */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    color: #312929; /* Color del texto */
    font-size: 1em; /* Tamaño de fuente */
    border: 0.2em solid #151414; /* Borde sólido */
    padding: 0.5em; /* Espaciado interior */
    border-radius: 0.5em; /* Borde redondeado */
}

/* Cambiar estilo cuando el input file está enfocado */
.guardar_archivo .input-file:focus {
    outline: none; /* Elimina el contorno predeterminado */
    border-color: #984701; /* Cambia el color del borde */
    box-shadow: 0 0 0.3em rgba(212, 175, 8, 0.5); /* Agrega sombra al enfocar */
}
